body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    color: blue;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    padding: 20px;
}

header h1 {
    margin: 0;
}

section#product {
    text-align: center;
    margin: 20px;
}

section#product a {
    text-decoration: none;
    color: inherit;
}

section#product img {
    max-width: 100%;
}

p.price {
    color: blueviolet;
}

body{
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
  
    
}

nav a:hover {
    border-bottom: 2px solid #333; /* Add a solid border on hover */
}
nav ul li a:hover{
    color: var(--btn-color);
}
p{
    color: black;
}
ul{
    background-color: aquamarine;
}
img{
    align-items: center;
}